<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="portofoliu">
            <h2><span>Portofoliu</span> {{portofoliu.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Htrocarno</span></dt>
                <dd>
                    <span>{{portofoliu.htrocarno}}</span>
                </dd>
                <dt><span>Dealer</span></dt>
                <dd>
                    <span>{{portofoliu.dealer}}</span>
                </dd>
                <dt><span>Datarezsaufactura</span></dt>
                <dd>
                    <span>{{portofoliu.datarezsaufactura}}</span>
                </dd>
                <dt><span>Dataexpirare</span></dt>
                <dd>
                    <span>{{portofoliu.dataexpirare}}</span>
                </dd>
                <dt><span>Resdealerid</span></dt>
                <dd>
                    <span>{{portofoliu.resdealerid}}</span>
                </dd>
                <dt><span>Tiplinie</span></dt>
                <dd>
                    <span>{{portofoliu.tiplinie}}</span>
                </dd>
                <dt><span>Locatie</span></dt>
                <dd>
                    <span>{{portofoliu.locatie}}</span>
                </dd>
                <dt><span>Lunaproductie</span></dt>
                <dd>
                    <span>{{portofoliu.lunaproductie}}</span>
                </dd>
                <dt><span>Lunasosireintara</span></dt>
                <dd>
                    <span>{{portofoliu.lunasosireintara}}</span>
                </dd>
                <dt><span>Codmodel</span></dt>
                <dd>
                    <span>{{portofoliu.codmodel}}</span>
                </dd>
                <dt><span>Tipautovehicul</span></dt>
                <dd>
                    <span>{{portofoliu.tipautovehicul}}</span>
                </dd>
                <dt><span>Codculoareext</span></dt>
                <dd>
                    <span>{{portofoliu.codculoareext}}</span>
                </dd>
                <dt><span>Culoareexterior</span></dt>
                <dd>
                    <span>{{portofoliu.culoareexterior}}</span>
                </dd>
                <dt><span>Culoare Integererior</span></dt>
                <dd>
                    <span>{{portofoliu.culoareIntegererior}}</span>
                </dd>
                <dt><span>Observatii</span></dt>
                <dd>
                    <span>{{portofoliu.observatii}}</span>
                </dd>
                <dt><span>Numeclient</span></dt>
                <dd>
                    <span>{{portofoliu.numeclient}}</span>
                </dd>
                <dt><span>Numevanzator</span></dt>
                <dd>
                    <span>{{portofoliu.numevanzator}}</span>
                </dd>
                <dt><span>Vin</span></dt>
                <dd>
                    <span>{{portofoliu.vin}}</span>
                </dd>
                <dt><span>Engineno</span></dt>
                <dd>
                    <span>{{portofoliu.engineno}}</span>
                </dd>
                <dt><span>Anfabricatiecfciv</span></dt>
                <dd>
                    <span>{{portofoliu.anfabricatiecfciv}}</span>
                </dd>
                <dt><span>Omologareindividuala</span></dt>
                <dd>
                    <span>{{portofoliu.omologareindividuala}}</span>
                </dd>
                <dt><span>Pretlista</span></dt>
                <dd>
                    <span>{{portofoliu.pretlista}}</span>
                </dd>
                <dt><span>Discountstandard</span></dt>
                <dd>
                    <span>{{portofoliu.discountstandard}}</span>
                </dd>
                <dt><span>Discountsuplimentar</span></dt>
                <dd>
                    <span>{{portofoliu.discountsuplimentar}}</span>
                </dd>
                <dt><span>Trusalegislativa</span></dt>
                <dd>
                    <span>{{portofoliu.trusalegislativa}}</span>
                </dd>
                <dt><span>Pretfinal</span></dt>
                <dd>
                    <span>{{portofoliu.pretfinal}}</span>
                </dd>
                <dt><span>Avansplatit</span></dt>
                <dd>
                    <span>{{portofoliu.avansplatit}}</span>
                </dd>
                <dt><span>Restdeplata</span></dt>
                <dd>
                    <span>{{portofoliu.restdeplata}}</span>
                </dd>
                <dt><span>Customertrxid</span></dt>
                <dd>
                    <span>{{portofoliu.customertrxid}}</span>
                </dd>
                <dt><span>Rezcustid</span></dt>
                <dd>
                    <span>{{portofoliu.rezcustid}}</span>
                </dd>
                <dt><span>Soldcustid</span></dt>
                <dd>
                    <span>{{portofoliu.soldcustid}}</span>
                </dd>
                <dt><span>Proforma</span></dt>
                <dd>
                    <span>{{portofoliu.proforma}}</span>
                </dd>
                <dt><span>Transport</span></dt>
                <dd>
                    <span>{{portofoliu.transport}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

        </div>
    </div>
</div>
