<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-dealer-heading">Create or edit a Dealer</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                           formControlName="name"/>
                    <div *ngIf="editForm.get('name').invalid && (editForm.get('name').dirty || editForm.get('name').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('name').errors.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_description">Description</label>
                    <input type="text" class="form-control" name="description" id="field_description"
                           formControlName="description"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_tipAutovehicule">Tip Autovehicule</label>
                    <select class="form-control" name="tipAutovehicule" formControlName="tipAutovehicule" id="field_tipAutovehicule">
                        <option value="AUTOMOBILE">AUTOMOBILE</option>
                        <option value="MOTOCILCETE">MOTOCILCETE</option>
                        <option value="TOATE">TOATE</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_dealerId">Dealer Id</label>
                    <input type="text" class="form-control" name="dealerId" id="field_dealerId"
                           formControlName="dealerId"/>
                    <div *ngIf="editForm.get('dealerId').invalid && (editForm.get('dealerId').dirty || editForm.get('dealerId').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('dealerId').errors.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label for="field_users">User</label>
                    <select class="form-control" id="field_users" multiple name="users" formControlName="users">
                        <option [ngValue]="getSelected(editForm.get('users').value, userOption)" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.login}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_stoc">Stoc</label>
                    <select class="form-control" id="field_stoc" name="stoc" formControlName="stocId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="stocOption.id" *ngFor="let stocOption of stocs; trackBy: trackStocById">{{stocOption.resdealerid}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_portofoliu">Portofoliu</label>
                    <select class="form-control" id="field_portofoliu" name="portofoliu" formControlName="portofoliuId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="portofoliuOption.id" *ngFor="let portofoliuOption of portofolius; trackBy: trackPortofoliuById">{{portofoliuOption.resdealerid}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
